[Desktop Entry]
Version=1.0
Name=firefox
Comment=firefox
Keywords=firefox
Exec=/usr/bin/firefox --profile /headless/mozilla/skaha -P skaha
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/firefox-logo.png
Type=Application
Categories=Network;
