apiVersion: v1
kind: ConfigMap
metadata:
  name: skaha-config
  namespace: {{ .Values.skaha.namespace }}
data:
{{ tpl (.Files.Glob "config/*").AsConfig . | indent 2 }}
  {{- (.Files.Glob "skaha-config/*").AsConfig | nindent 2 }}
