<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <display-name>skaha</display-name>
    
    <servlet>
        <servlet-name>logControl</servlet-name>
        <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>info</param-value>
        </init-param>
        <init-param>
            <param-name>logLevelPackages</param-name>
            <param-value>
                  org.opencadc.skaha
                  ca.nrc.cadc.util
                  ca.nrc.cadc.rest
                  ca.nrc.cadc.net
            </param-value>
        </init-param>
        <init-param>
            <param-name>logAccessGroup</param-name>
            <param-value>ivo://cadc.nrc.ca/gms?CADC</param-value>
        </init-param>
        <init-param>
            <param-name>groupAuthorizer</param-name>
            <param-value>ca.nrc.cadc.ac.client.GroupAuthorizer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
     <servlet>
         <servlet-name>SessionServlet</servlet-name>
         <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
         <init-param>
             <param-name>get</param-name>
             <param-value>org.opencadc.skaha.session.GetAction</param-value> 
             <!-- <param-value>org.opencadc.platform.docker.DockerGet</param-value> -->
         </init-param>
         <init-param>
             <param-name>post</param-name>
             <param-value>org.opencadc.skaha.session.PostAction</param-value> 
             <!-- <param-value>org.opencadc.platform.docker.DockerPost</param-value> -->
         </init-param>
         <init-param>
             <param-name>delete</param-name>
             <param-value>org.opencadc.skaha.session.DeleteAction</param-value>
             <!-- <param-value>org.opencadc.platform.docker.DockerDelete</param-value> -->
         </init-param>
         <init-param>
             <param-name>skaha-users-group</param-name>
             <param-value>ivo://cadc.nrc.ca/gms-proto?ARCADE-Users</param-value>
         </init-param>
         <init-param>
             <param-name>skaha-admin-group</param-name>
             <param-value>ivo://cadc.nrc.ca/gms-proto?skaha-admins</param-value>
         </init-param>
         <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet>
         <servlet-name>ContextServlet</servlet-name>
         <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
         <init-param>
             <param-name>get</param-name>
             <param-value>org.opencadc.skaha.context.GetAction</param-value> 
             <!-- <param-value>org.opencadc.platform.docker.DockerGet</param-value> -->
         </init-param>
         <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet>
         <servlet-name>ImageServlet</servlet-name>
         <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
         <init-param>
             <param-name>get</param-name>
             <param-value>org.opencadc.skaha.image.GetAction</param-value> 
             <!-- <param-value>org.opencadc.platform.docker.DockerGet</param-value> -->
         </init-param>
         <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Servlet that identifies the services provided by platform -->
    <servlet>
      <servlet-name>CapabilitiesServlet</servlet-name>
      <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
      <init-param>
        <param-name>init</param-name>
        <param-value>ca.nrc.cadc.vosi.CapInitAction</param-value>
      </init-param>
      <init-param>
        <param-name>get</param-name>
        <param-value>ca.nrc.cadc.vosi.CapGetAction</param-value>
      </init-param>
      <init-param>
        <param-name>head</param-name>
        <param-value>ca.nrc.cadc.vosi.CapHeadAction</param-value>
      </init-param>
      <init-param>
        <param-name>input</param-name>
        <param-value>/capabilities.xml</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
    </servlet>

    <!-- Servlet that checks the availability status of platform -->
    <servlet>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.vosi.AvailabilityServlet</servlet-class>
        <init-param>
            <param-name>ca.nrc.cadc.vosi.AvailabilityPlugin</param-name>
            <param-value>org.opencadc.skaha.SkahaAvailability</param-value>
        </init-param>
    </servlet>

    <!-- URL-to-servlet mapping -->
    
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/v0/session/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ContextServlet</servlet-name>
        <url-pattern>/v0/context/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/v0/image/*</url-pattern>
    </servlet-mapping>
        
    <servlet-mapping>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <url-pattern>/capabilities</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>
    
      <!-- Log control servlet endpoint -->
    <servlet-mapping>
        <servlet-name>logControl</servlet-name>
        <url-pattern>/logControl</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
