[Desktop Entry]
Version=1.0
Name=1024x768
Comment=1024x768
Keywords=1024x768
Exec=/usr/local/bin/1024x768.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Resolution;
