[Desktop Entry]
Version=1.0
Name=1280x960
Comment=1280x960
Keywords=1280x960
Exec=/usr/local/bin/1280x960.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Resolution;
