[Desktop Entry]
Version=1.0
Name=1280x1024
Comment=1280x1024
Keywords=1280x1024
Exec=/usr/local/bin/1280x1024.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Resolution;
