[Desktop Entry]
Version=1.0
Name=1400x1050
Comment=1400x1050
Keywords=1400x1050
Exec=/usr/local/bin/1400x1050.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Resolution;
