[Desktop Entry]
Version=1.0
Name=800x600
Comment=800x600
Keywords=800x600
Exec=/usr/local/bin/800x600.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Resolution;
