[Desktop Entry]
Version=1.0
Name=casa-5.6.1-8
Comment=casa-5.6.1-8
Keywords=casa-5.6.1-8
Exec=/usr/local/bin/casa-5.6.1-8.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=CASA;
