[Desktop Entry]
Version=1.0
Name=casa-4.7.2
Comment=casa-4.7.2
Keywords=casa-4.7.2
Exec=/usr/local/bin/casa-4.7.2.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=CASA;
