[Desktop Entry]
Version=1.0
Name=casa-4.7.0
Comment=casa-4.7.0
Keywords=casa-4.7.0
Exec=/usr/local/bin/casa-4.7.0.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=CASA;
