[Desktop Entry]
Version=1.0
Name=firefox
Comment=firefox
Keywords=firefox
Exec=/usr/local/bin/firefox.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=CANFAR;
