[Desktop Entry]
Version=1.0
Name=xterm
Comment=xterm
Keywords=xterm
Exec=/usr/local/bin/xterm.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=CANFAR;
