[Desktop Entry]
Version=1.0
Name=arcade-feedback
Comment=Provide suggestions for Arcade improvements
Keywords=firefox
Exec=/usr/local/bin/arcade-feedback.sh
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/comments.svg.png
Type=Application
Categories=ARCADE;
