[Desktop Entry]
Version=1.0
Name=DRAGONS
Comment=Gemini DRAGONS
Keywords=Gemini DRAGONS
Exec=/usr/local/bin/dragons.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=dragons;
