[Desktop Entry]
Version=1.0
Name=terminal
Comment=General terminal for Arcade
Keywords=terminal
Exec=/usr/local/bin/terminal.sh
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/terminal.svg.png
Type=Application
Categories=ARCADE;
