[Desktop Entry]
Version=1.2.0
Name=terminal
Comment=General terminal for Arcade
Keywords=terminal
Exec=(SCRIPT)
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/terminal.svg.png
Type=Application
Categories=X-Xfce-Toplevel;
