[Desktop Entry]
Version=4.8.8
Name=topcat-terminal
Comment=Graphical viewer and editor for tabular data. A user launches topcat from within an xterm.
Keywords=topcat-terminal
Exec=(SCRIPT)
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/topcat.svg
Type=Application
Categories=X-Xfce-Toplevel;
