[Desktop Entry]
Version=(VERSION)
Name=(SHORTNAME)
Comment=(NAME)
Keywords=(NAME)
Exec=(EXECUTABLE)/(NAME).sh
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/(SHORTNAME).(SUFFIX)
Type=Application
Categories=(CATEGORY);
