[Desktop Entry]
Version=4.8.8
Name=ds9-bypass-xterm
Comment=Graphical viewer and editor for tabular data, ds9 starts up directly, bypassing the xterm.
Keywords=ds9-bypass-xterm
Exec=(SCRIPT)
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/ds9.svg
Type=Application
Categories=X-Xfce-Toplevel;
