[Desktop Entry]
Version=1.0
Name=topcat
Comment=Graphical viewer and editor for tabular data
Keywords=topcat
Exec=(SCRIPT)
Terminal=false
X-MultipleArgs=false
Icon=/headless/.icons/topcat.svg
Type=Application
Categories=X-Xfce-Toplevel;
