        <Menu>
            <Name>(NAME)</Name>
            <Directory>(DIRECTORY)</Directory>
            <Include>
                <Category>(CATEGORY)</Category>
            </Include>
        </Menu>
