# Release Please Actions
name: "CD: Release Please"

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    if: github.repository == 'opencadc/science-platform'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Create release
        id: release-please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
      - name: Dispatch Edge Build
        # Run this step only if the release-please completes successfully
        if: steps.release-please.outcome == 'success' && github.event_name == 'push'
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          repository: opencadc/science-platform
          event-type: edge-build
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Skaha Release Info
        # Run this step only if the release-please completes successfully
        if: ${{ steps.release-please.outputs.release_created == 'true' }}
        run: |
          echo "Releases Created: ${{ steps.release-please.outputs.release_created }}"
          echo "tag: ${{ steps.release-please.outputs.tag_name }}"
          echo "sha: ${{ steps.release-please.outputs.sha }}"
          echo "major: ${{ steps.release-please.outputs.major }}"
          echo "minor: ${{ steps.release-please.outputs.minor }}"
          echo "patch: ${{ steps.release-please.outputs.patch }}"
      - name: Dispatch Skaha Release Build
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: ${{ steps.release-please.outputs.release_created == 'true' }}
        with:
          repository: opencadc/science-platform
          event-type: release-build
          token: ${{ secrets.GITHUB_TOKEN }}
          client-payload: |-
            {
              "releases_created": "${{ steps.release-please.outputs.release_created }}",
              "tag_name": "${{ steps.release-please.outputs.tag_name }}",
              "sha": "${{ steps.release-please.outputs.sha }}"
            }
