name: "CI: Commit Check"

on:
  pull_request:
    branches: [main]
  # This check runs on every push to repository
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  commit-check:
    runs-on: ubuntu-latest
    permissions:  # use permissions because of use pr-comments
      contents: read
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # checkout PR HEAD commit
          fetch-depth: 0  # required for merge-base check
      - name: Run Commit Check
        uses: commit-check/commit-check-action@d627c141cd667d09d58245154a10cb995892eb9e # v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # use GITHUB_TOKEN because of use pr-comments
        with:
          # Conventional Commits Check
          message: true
          # Convention Branch Check
          branch: false
          author-name: true
          author-email: true
          commit-signoff: false
          merge-base: true
          job-summary: true
          pr-comments: false
