name: "CI: Testing"

on:
    pull_request:
      branches: [main]
    push:
      branches: [main]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
            fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Clear Gradle Cache
        run: rm -rf ~/.gradle/caches
      - name: Show JAVA_HOME
        run: echo "${JAVA_HOME}"
      - name: Run Tests
        run: |
            cd skaha
            ./gradlew clean check --no-daemon
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: skaha-unittests-coverage
          path: skaha/build/reports/jacoco/test/jacocoTestReport.xml
          if-no-files-found: error
          retention-days: 1
          overwrite: true

  codecov:
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - name: Download coverage artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: skaha-unittests-coverage
      - name: List Downloaded Artifacts
        run: |
            echo "Downloaded artifacts:"
            ls -lah $GITHUB_WORKSPACE
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: jacocoTestReport.xml
          flags: skaha-unittests-coverage
          name: skaha-unittests-coverage
          fail_ci_if_error: true
          verbose: true
