name: "CI: Testing"

on:
    pull_request:
      branches: [main]
    push:
      branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
            fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4.5.0
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Run Tests
        run: |
            cd skaha
            ./gradlew clean check
      -
        name: Upload coverage artifacts
        uses: actions/upload-artifact@v4.4.3
        with:
          name: skaha-unittests-coverage
          path: skaha/build/reports/jacoco/test/jacocoTestReport.xml
          if-no-files-found: error
          retention-days: 1
          overwrite: true
  
  codecov:
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      id-token: write
    steps:
      - 
        name: Download coverage artifacts
        uses: actions/download-artifact@v4.1.8
        with:
          name: skaha-unittests-coverage
      -
        name: List Downloaded Artifacts
        run: |
            echo "Downloaded artifacts:"
            ls -lah $GITHUB_WORKSPACE
      -
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.6.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: jacocoTestReport.xml
          flags: skaha-unittests-coverage
          name: skaha-unittests-coverage
          fail_ci_if_error: true
          verbose: true